version: '3.4'
services:
  postgres:
    container_name: postgres
    restart: always
    image: postgres:10
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - flask-app-db:/var/lib/postgresql/data
      - ./testdb_seed:/docker-entrypoint-initdb.d/testdb_seed.sql
    ports:
      - 5431:5432
  client:
    build:
      dockerfile: Dockerfile
      context: ./frontend
    ports:
      - 80:80
  app:
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./backend
    environment:
      - FLASK_ENV=docker
    ports:
      - 5000:5000
    volumes:
      - .:/app
    depends_on:
      - postgres
    entrypoint:
      - /docker_script.sh

volumes:
  flask-app-db:
    name: flask-app-db
