.profile {
  .bar {
    align-items: center;
  }

  .square {
    width: 100px;
    height: 100px;
    background-color: red;
  }

  .completed-badge {
    align-self: center;
  }

  .earned-badge {
    margin-left: 15px;
    margin-right: 15px;
  }
}
