.bar {
  align-items: center;
}

.completed-badge {
  align-self: center;
}

.earned-badge {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.ip-badge {
  margin-top: 10px;
  margin-bottom: 10px;
}
