.book-grade {
  margin-top: 50px;
}
.book-info-row {
  padding-top: 50px;
  padding-bottom: 50px;
}
.light-font {
  font-weight: 300;
}
.font-white {
  color: #fff;
  a {
    color: #000;
  }
}

.book-cover {
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 5px 5px 5px 1px rgba(3, 15, 28, 0.331);
}
.blue-gradient {
  background-image: radial-gradient(circle, #4b7bec, #3867d6);
  box-shadow: 5px 5px 5px 1px rgba(3, 15, 28, 0.331);
}
