.card {
  margin: 30px;
  padding: 10px;
}

.parent {
  background-color: bisque;
}

h1 {
  margin: 30px;
}

.button {
  background-color: #007bff;
  color: white;
}

.image {
  width: 100px;
  height: auto;
  align-self: center;
}

.card a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

// .card .link span {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   z-index: 1;
// }
