#left {
}

#right {
}

.card {
  margin: 30px;
  padding: 10px;
  // align-items: center;
}

.parent {
  background-color: bisque;
}

h1 {
  margin: 30px;
}

.button {
  background-color: #007bff;
  color: white;
}

.image {
  width: 100px;
  // height: 100px;
  align-self: center;
}
