#left {
  // margin: 20px;
  // padding: 30px;
  // border: 50px;
  // margin: 20px;
  background-color: bisque;
}

#right {
  background-color: black;
}

.col {
  margin: 20px;
}

.card {
  margin: 30px;
  padding: 10px;
}

.button {
  background-color: #007bff;
  color: white;
}
