.home {
  .container {
    display: flex;
    flex-direction: 'row';
    flex-wrap: wrap-reverse;
  }

  .left-main-col {
    margin: 10px;
    padding: 10px;
    flex-grow: 2;
  }

  .right-sidebar {
    margin: 10px;
    padding: 10px;
  }

  .card {
    margin: 10px;
  }

  .internal-card {
    margin: 24px;
  }

  .parent {
    background-color: bisque;
  }

  h2 {
    margin: 30px;
  }

  .button {
    background-color: #007bff;
    color: white;
  }

  .image {
    width: 100px;
    height: auto;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
