.quiz-viewer {
  margin: 30px auto;
  width: 80%;

  .pagination {
    margin-top: 20px;
    justify-content: center;
  }

  .submit-question {
    float: right;
  }

  .list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.95);
  }
  .next-button {
    float: right;
    outline: none;
  }

  .progressDiv {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    .progress {
      width: 75%;
      margin-right: 5%;
    }
    .redoButton {
      float: right;
    }
  }
}

.quiz-page {
  .back-button {
    margin: 20px;
  }
}
