.reading-olympics {
  .container {
    display: flex;
    flex-direction: 'row';
    flex-wrap: wrap-reverse;
  }

  .left-main-col {
    margin: 10px;
    padding: 10px;
    flex-grow: 2;
  }

  .right-sidebar {
    margin: 10px;
    padding: 10px;
  }

  .card {
    margin: 10px;
  }

  .col-lg-4 {
    margin-top: 20px;
  }
  .navigation-button {
    margin: 30px 0px;
    background-color: #ff9966;
    color: black;
  }
  .book-image-container {
    text-align: center;
    margin-bottom: 10px;
  }

  .book-image {
    max-height: 300px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .empty {
    padding: 50px;
  }
}
