.reading-olympics {
  .container {
    display: flex;
    flex-direction: 'row';
    flex-wrap: wrap-reverse;
  }

  .left-main-col {
    margin: 10px;
    padding: 10px;
    flex-grow: 2;
  }

  .right-sidebar {
    margin: 10px;
    padding: 10px;
  }

  .card {
    margin: 10px;
  }

  .col-lg-4 {
    margin-top: 20px;
  }
  .navigation-button {
    margin: 30px 0px;
    background-color: #ff9966;
    color: black;
  }
  .book-image-container {
    text-align: center;
    margin-bottom: 10px;
  }

  .book-card {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    min-width: 250px;
  }
  .book-card:hover {
    box-shadow: 0 14px 28px rgba(214, 74, 74, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .book-image {
    max-height: 300px;
    max-width: 100%;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  // .empty {
  //   padding: 50px;
  //}
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
