.icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.sm-search-icon {
  margin-right: 10px;
}

.search-icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

h4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.filter {
  margin-top: 30px;
}

.results {
  margin-top: 30px;
  margin-bottom: 30px;
}
